{{#if user}}


{{/if}}
<body style="background-color:bisque">
<center><h1> Share Code in Real-time with Developers</h1>
<h4>An online code editor for interviews, troubleshooting, teaching & more...</h4>
</center>

<div >
<div class="aligncenter">
<br>
<br>
<br>
<br>
<br>
<p>
 <center><a href="/createTask"  class="btn btn-primary" style="size: 300px;" >Create Task</a></center>
 </p>
 <p>
 </p>
 </div>
</body>